.form-field {
    background-color: bisque;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 40px 20px;

}

.form-field input {
    width: 80%;
    margin: auto;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    display: block;
}